@charset "UTF-8";
html,body{ height: 100%; }
body,a{ color: #666; }
ul,ol{ list-style: none; }
p{ color: red; }


body{ transition : 5s; }

body.bg_red{ background-color:red;}
body.bg_blue{ background-color:blue;}
body.bg_yellow{ background-color:yellow;}
body.bg_black{ background-color:black;}

#wrap_id{
  position: absolute;
  display: inline-block;
  top: -500px;
  transition: 5s;
}

body.bg_yellow #wrap_id{
  top: 0;
}
